.gridContainer {
    @apply grid gap-4;
    grid-template-columns: 3fr 2fr; /* 3/5 and 2/5 of the container width */
}

.containerLabel {
    @apply flex items-center w-full text-lg font-medium whitespace-pre mb-2;
}

.dropzoneContainer {
    @apply w-full relative gap-y-4 divide-y flex flex-col items-center rounded-lg border hover:border-blue-500 transition;
}

.bodySelectContainer {
    @apply border rounded-lg p-4 w-full overflow-x-hidden;
}
  
/* Responsive design for smaller screens */
@media (max-width: 640px) {
    .gridContainer {
      grid-template-columns: 1fr; /* 1 column layout */
    }
    
    /* Change order of items */
    .fileContainer { order: 1; }
    .bodyContainer { order: 2; }
    .selectedParts { order: 3; }
    .symptoms { order: 4; }
}
  