.gridContainer {
    @apply grid gap-x-4 gap-y-6;
    grid-template-columns: 3fr 2fr; /* 3/5 and 2/5 of the container width */
}

.fileLabel, .areaLabel {
    @apply flex items-center w-full border-b pb-4 text-lg font-medium gap-x-2
}

.dropzoneContainer {
    @apply w-full relative gap-y-4 divide-y flex flex-col items-center rounded-lg border hover:border-blue-500 transition;
}

.bodyContainer {
    @apply border rounded-lg p-4 w-full;
}
  
/* Responsive design for smaller screens */
@media (max-width: 640px) {
    .gridContainer {
      grid-template-columns: 1fr; /* 1 column layout */
    }
    
    /* Change order of items */
    .fileLabel { order: 1; }
    .dropzoneContainer { order: 2; }
    .acceptedFiles { order: 3; }
    .areaLabel { order: 4; }
    .bodyContainer { order: 5; }
    .selectedParts { order: 6; }
}
  