@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.cl-formButtonPrimary {
  @apply bg-blue-500 hover:bg-blue-600;
}

.cl-footerActionLink {
  @apply text-blue-500 hover:text-blue-600;
}

.rte-content-container p {
  margin-bottom: 7px;
}


.rte-content-container a {
  @apply text-blue-500 hover:underline
}

.rte-content-container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h2 {
  font-size: 1.625;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container hr {
  @apply my-4;
}

.rte-content-container ol {
  @apply list-decimal pl-4 mb-4;
}

.rte-content-container ul {
  @apply list-disc pl-4 mb-4;
}

.rte-content-container mark {
  background-color: #ffec99;
}

.rte-content-container blockquote {
  @apply px-5 py-4 mt-4;
  background-color: #f8f9fa;
}

.rte-content-container p {
  margin-bottom: 0.4375rem;
}

.rte-content-container code {
  background-color: #f8f9fa;
}