.bg1 {
    @apply absolute h-full w-full inset-0 m-auto blur-3xl;
    z-index: -1;
    background-color:#99ffec;
    background-image:
    radial-gradient(at 5% 75%, hsla(205,78%,61%,1) 0px, transparent 50%),
    radial-gradient(at 35% 14%, hsla(299,70%,77%,1) 0px, transparent 50%),
    radial-gradient(at 83% 80%, hsla(228,87%,70%,1) 0px, transparent 50%),
    radial-gradient(at 67% 11%, hsla(173,87%,71%,1) 0px, transparent 50%),
    radial-gradient(at 17% 21%, hsla(217,86%,69%,1) 0px, transparent 50%),
    radial-gradient(at 13% 34%, hsla(64,89%,69%,1) 0px, transparent 50%),
    radial-gradient(at 37% 24%, hsla(227,98%,62%,1) 0px, transparent 50%);
}

.bg2 {
    @apply absolute h-full w-full inset-0 m-auto blur-3xl;
    z-index: -1;
    background-color:#99b9ff;
    background-image:
    radial-gradient(at 18% 32%, hsla(231,72%,71%,1) 0px, transparent 50%),
    radial-gradient(at 11% 59%, hsla(296,87%,60%,1) 0px, transparent 50%),
    radial-gradient(at 75% 91%, hsla(4,97%,75%,1) 0px, transparent 50%),
    radial-gradient(at 47% 3%, hsla(84,60%,77%,1) 0px, transparent 50%),
    radial-gradient(at 48% 52%, hsla(19,72%,71%,1) 0px, transparent 50%),
    radial-gradient(at 52% 54%, hsla(41,97%,72%,1) 0px, transparent 50%),
    radial-gradient(at 90% 12%, hsla(41,75%,70%,1) 0px, transparent 50%);
}

.bg3 {
    @apply absolute h-full w-full inset-0 m-auto opacity-80;
    z-index: -1;
    background-color:#99b9ff;
    background-image:
    radial-gradient(at 35% 0%, hsla(262,66%,73%,1) 0px, transparent 50%),
    radial-gradient(at 14% 33%, hsla(210,62%,63%,1) 0px, transparent 50%),
    radial-gradient(at 17% 32%, hsla(163,97%,62%,1) 0px, transparent 50%),
    radial-gradient(at 7% 38%, hsla(232,80%,65%,1) 0px, transparent 50%),
    radial-gradient(at 31% 43%, hsla(302,73%,75%,1) 0px, transparent 50%),
    radial-gradient(at 23% 77%, hsla(260,78%,73%,1) 0px, transparent 50%);
}

.glass {
    /* background: rgba(255, 255, 255, 0.2); */
    background: rgba(198, 198, 198, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}