.mobileHeaderContainer {
    @apply md:hidden;
    z-index: 110;
    position: absolute;
    width: 100%;
    left: 0;
}

.mobileNavContainer {
    @apply flex transition md:hidden flex-col gap-y-4 py-8 px-8 xl:px-16;
    z-index: 110;
    left: 0;
    top: 80px;
    position: absolute;
}

.mobileHeaderBackdrop {
    @apply fixed transition md:hidden;
    height: 100vh;
    z-index: 101;
    /* background-color: rgba(245, 191, 64, 0.9); */
    backdrop-filter: blur(4px);
    width: 100%;
    bottom: 0;
    left: 0;
}