.headerLogo {
    @apply text-2xl font-medium flex gap-x-2 items-center;
    z-index: 120;
}

.headerNav {
    @apply h-full;
    z-index: 120;
}

.mobileHeaderContainer {
    @apply md:hidden;
    z-index: 110;
    position: absolute;
    width: 100%;
    left: 0;
    top: 80px;
}

.mobileHeader {
    @apply flex transition md:hidden flex-col gap-y-4;
    position: absolute;
    z-index: 110;
}

.mobileHeaderBackdrop {
    @apply fixed transition md:hidden;
    height: 100vh;
    z-index: 100;
    /* background-color: rgba(245, 191, 64, 0.9); */
    backdrop-filter: blur(12px);
    width: 100%;
    bottom: 0;
    left: 0;
}