@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.grid-auto-fill {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.cl-formButtonPrimary {
  @apply bg-blue-500 hover:bg-blue-600;
}

.cl-footerActionLink {
  @apply text-blue-500 hover:text-blue-600;
}

.rte-content-container p {
  margin-bottom: 7px;
}

.mantine-RichTextEditor-root {
  @apply !rounded-lg;
}

.mantine-RichTextEditor-toolbar {
  @apply !rounded-t-lg;
}

.mantine-RichTextEditor-content {
  @apply !rounded-b-lg;
}

.rte-content-container a {
  @apply text-blue-500 hover:underline
}

.rte-content-container h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h2 {
  font-size: 1.625;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.rte-content-container hr {
  @apply my-4;
}

.rte-content-container ol {
  @apply list-decimal pl-6 mb-4;
}

.rte-content-container ul {
  @apply list-disc pl-4 mb-4;
}

.rte-content-container mark {
  background-color: #ffec99;
}

.rte-content-container blockquote {
  @apply px-5 py-4 mt-4;
  background-color: #f8f9fa;
}

.rte-content-container p {
  margin-bottom: 0.4375rem;
}

.rte-content-container code {
  background-color: #f8f9fa;
}

.ProseMirror {
  min-height: 128px;
}

#head {
  margin-left: -28.5px;
  top: -6px;
}

#leftShoulder {
  margin-left: -53.5px;
  top: 69px;
}

#rightShoulder {
  margin-left: 13.5px;
  top: 69px;
}

#leftArm {
  margin-left: -78px;
  top: 112px;
}

#rightArm {
  margin-left: 38px;
  top: 112px;
}

#chest {
  margin-left: -43.5px;
  top: 88px;
}

#stomach {
  margin-left: -37.5px;
  top: 130px;
}

#leftLeg {
  margin-left: -46.5px;
  top: 205px;
}

#rightLeg {
  margin-left: 1.5px;
  top: 205px;
}

#leftHand {
  margin-left: -102.5px;
  top: 224px;
}

#rightHand {
  margin-left: 66.5px;
  top: 224px;
}

#leftFoot {
  margin-left: -40.5px;
  top: 455px;
}

#rightFoot {
  margin-left: 5.5px;
  top: 455px;
}

.ant-skeleton-avatar-circle {
  width: 24px !important;
  height: 24px !important;
}